body{
    font-family: 'Arima', cursive;
    font-family: 'Charis SIL', serif;
    border:1px solid #424580;
    display: grid;
    grid-template-columns: 30vh 1fr 1fr 1fr;
    grid-template-rows: 9% 41% 41% 9%;
    grid-template-areas:
        "nav nav nav nav"
        "main1 main1 main2 main2"
        "main1 main1  main3  main3"
        "foot foot foot foot";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: content-box;
}

* {
    box-sizing: border-box;

}


nav {
    grid-area: nav;
    background-color: #424580;
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: azure;

}

nav ul a {
    display: flex;
    color: azure;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;

}

.rowflex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.prediction {
    grid-area : main1;
    padding: 3%;
}

.result {
    grid-area : main2;
    padding: 4%;
}

.result-data {
    grid-area: main2;
    margin-top: 15vh;
    align-content: center;
    text-align: center;
    font-size: 5vw;
}

.red {
    color: red;
}

.main2 {
    grid-area :main2;
    padding: 4%;
    background-color: rgba(95, 125, 165, 0.5);
}

.main3 {
    grid-area :main3;
    background-color: rgba(95, 125, 165, 0.5);
}

.block {
    display: flex;
    flex-direction: columns;
}


.main1{
    grid-area : main1;
    padding: 4%;
    background-color: rgba(95, 125, 165, 0.5);
    border-right: 1px solid white
}

.main1 p, .main2 p {
    text-align: center;
}

.foot {
    grid-area: foot;
    background-color: #424580;
}

h1, .align {
    text-align: center;
}

.white {
    color: white;
}

.pa-8 {
    padding: 1vh;
}

.home-img {
    width: 60vh !important;
    padding: 4%;
}

.idx-10 {
    z-index: 1;
}

.element {
    display: flex;
    position: inherit;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-decoration: none;
    height: 5vh;
}

.email-label {
    font-size: large;
}

.password-label {
    font-size: large;
}

.form-register {
    width: 200%;
    height: 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.ma-2 {
    margin-top: 0.5%;
}

.form-inside {
    text-align: center;
    border: 2px solid white;
    width: 70%;
    height: 32%;

}


@media (max-width: 645px) {
    body{
        font-family: 'Arima', cursive;
        font-family: 'Charis SIL', serif;
        border:1px solid #424580;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "nav"
            "main1"
            "main2"
            "foot ";
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        
    }
    .main1{
        grid-area : main1;
        padding: 4%;
        background-color: rgba(95, 125, 165, 0.5);
        border-bottom: 1px solid white
    }
    
}